@using CoreProjeKamp.Models
@model List<RoleAssingViewModel>
@{
    ViewData["Title"] = "AssingRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Rol Atama Paneli</h3>
<br />
<form method="post">
    @for (int i =0;i<Model.Count;i++)
    {
    <div class="form-check">
        <input type="hidden" asp-for="@Model[i].RoleId"  />
        <input type="hidden" asp-for="@Model[i].name"  />
        <input type="checkbox" asp-for="@Model[i].exists" class="form-check-input"  />
        @*EXİSTS'ten gelen true false durumuna göre işaretli gelecek*@
            <label class="form-check-label" for="@Model[i].exists">@Model[i].name</label>
            @*for="@Model[i].exists"->for neye göre niçin exists'daki cevaba göre label getir*@
    </div>
    }
    <button  class="btn btn-block" style="background-color:skyblue;margin-top:8px">Değişiklikleri Kaydet</button>
</form>

